*.crt
*.key
.dockerignore
.git
.gitignore
.idea
.jshintrc
commit.sha
dist
dist/*
Dockerfile
node_modules/*
README.md
shippable
shippable/*
shippable.yml
.editorconfig
.browserslistrc
shippable.old
jsconfig.json
.env*
.env.local
.env.*.local