GITHUB_USERNAME=XXXXXXXX
GITHUB_APPID=000000
GITHUB_APP_PRIVATEKEY='-----BEGIN RSA PRIVATE KEY-----\nXXXXXXXXXXXXXXX\n-----END RSA PRIVATE KEY-----'
GITHUB_APP_CLIENTID=XXX.XXXXXXXXXXXXXXXXXX
GITHUB_APP_CLIENTSECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GITHUB_APP_INSTALLATIONID=00000000
#GITHUB_APP_WEBHOOK_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
#DEBUG=action-dashboard:*
#HOST_PORT=8080